* {
  color: rgb(91, 6, 6);
  line-height: 1.5em;
}

body {
  background-color: rgb(237, 211, 166);
  width: 600px;
  margin: auto;
}

h1 {
  color: rgb(224, 80, 80);
  background-color: rgb(91, 6, 6);
  padding: 15px 120px;
}

#woodworking {
  float: right;
  transform: rotate(90deg);
  margin: 30px 20px;
  width: 225px;
}

ul {
  width: 300px
}
